/* Home.css */
.home {
    padding: 40px;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    background-color: #F5F5F7;
}

.home #homesection {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color:#B7B7B7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#visualizations, #programming, #compiler{
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color:#F5F5F7;
    /* width: 500px; */
}

.home h2 {
    margin-bottom: 20px;
    color: #705C53;
}

.home p {
    color: #705C53;
}

.content{
    text-decoration: none;
    color: #705C53;
    padding-bottom: 50px;
}