/* QueueVisualizer.css */
.queue-visualizer {
    text-align: center;
    margin: 20px 0;
    color: #705C53;
    background-color: #F5F5F7;
}
.background{
    background-color: black;
}

.queue-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.queue-item {
    width: 50px;
    height: 30px;
    background-color: #4db6ac;
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.queue-item:nth-child(1) {
    background-color: #ffb74d;
}
