/* StackVisualizer.css */
.stack-visualizer {
    text-align: center;
    margin: 20px 0;
    background-color: #F5F5F7;
}
.stack-visualizer h3{
    color: #705C53;
}

.stack-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 20px;
}

.stack-item {
    width: 50px;
    height: 30px;
    background-color: #64b5f6;
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
    transition: background-color 0.3s;
}

.stack-item:nth-child(1) {
    background-color: #ffb74d;
}