/* LinearSearchVisualizer.css */
.linear-search-visualizer {
    text-align: center;
    margin: 20px 0;
    background-color: black;
}
.linear-search-visualizer h3{
    color: aliceblue;
}

.linear-search-visualizer input {
    margin-right: 10px;
    padding: 5px;
}

.linear-search-visualizer button {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
}

.array-bar {
    margin: 0 5px;
    background-color: #90caf9;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 12px;
    transition: background-color 0.3s;
}

/* Highlighting for current element */
.current {
    background-color: #ffd54f;
}

/* Highlighting for found element */
.found {
    background-color: #81c784;
}
#element{
    color: white;
}